<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Web page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="logo">
        <!-- <h1 class="logo-text">Logo</h1> -->
        <img src="/Assets/39f5fdbe34f1b58716e6571c1f1cb715.jpg" alt="">
    </div>

    <header>
        <div class="navbar">
            <nav>
                <ul class="tabs">
                    <li class="tab is-active"><a data-switcher data-tab="1">Home</a></li>
                    <li class="tab"><a data-switcher data-tab="2">Dashboard</a></li>
                    <li class="tab"><a data-switcher data-tab="3">Grade Calculator</a></li>
                    <li class="tab"><a data-switcher data-tab="4">Login/Register</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Section we are going to display :  -->
    <main>
        <section class="pages">
            <div class="page is-active" data-page="1">
                <h2>Page 1</h2>
                <p>Welcome to the home page.</p>
            </div>
            <div class="page" data-page="2">
                <h2>Page 2</h2>
                <p>Welcome to the dashboard page.</p>
            </div>
            <div class="page" data-page="3">
                <h2>Page 3</h2>
                <p>Welcome to the grade calculator page.</p>
            </div>
            {{!-- Login page and registration page --}}
            <div id="login-reg" class="page" data-page="4">
                {{#if errorMessage}}
                <div class="alert alert-danger">{{errorMessage}}</div>
                {{/if}}

                {{#if successMessage}}
                <div class="alert alert-success">{{successMessage}}</div>
                {{/if}}
                <div class="alert">
                    <span class="closebtn" onclick="closeAlert()">&times;</span>
                    This is a dismissible alert.
                </div>
                <h1>Register</h1>
                <!-- Register form -->
                <form action="/" method="post" id="registration-form">
                    <div class="container">
                        <hr>
                        <!-- Name -->
                        <label for="name"><b><i>Name</i></b></label>
                        <input type="name" placeholder="Enter your name" name="name" id="name" required>
                        <!-- Email -->
                        <label for="email"><b><i>Email</i></b></label>
                        <input type="text" placeholder="Enter your Email" name="email" id="email" required>
                        <!-- Password -->
                        <label for="password"><b><i>Password</i></b></label>
                        <input type="password" placeholder="Enter your Password" name="password" id="password" required>
                        <!-- Password -->
                        <label for="age"><b><i>Age</i></b></label>
                        <input type="age" placeholder="Enter your age" name="age" id="age" required>
                        <button type="submit" class="registerbtn">Register</button>
                    </div>
                </form>
                <h1 id="login-text">Login</h1>
                <!-- Login form :  -->
                <form action="">
                    <div class="container">
                        <!-- Email : -->
                        <label for="email"><b><i>Email</i></b></label>
                        <input type="text" placeholder="Enter your Email" name="email-login" id="email-login" required>
                        <!-- Password -->
                        <label for="password"><b><i>Password</i></b></label>
                        <input type="password" placeholder="Enter your Password" name="password-login"
                            id="password-login" required>
                        <!-- Password -->
                        <label for="age"><b><i>Age</i></b></label>
                        <input type="age" placeholder="Enter your age" name="age-login" id="age-login" required>
                        <button type="submit" class="loginbtn">Login</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
<script src="/page.js"></script>

</html>

<!-- Home -->
<!-- Dashboard
Grade Calculator
Login/Register -->